@import url("style.css");

#cart-container-section {
  padding: 20px 0;
}

.dsc-cart-total-container h3 {
  color: var(--dsc-color-font-secondary);
  font-size: 16px;
  padding-top: 10px;
}

.dsc-cart-item-container {
  display: flex;
  flex-direction: column;
}

.dsc-cart-item-container img {
  width: 78px;
}

.dsc-cart-item-left {
  display: flex;
}

.dsc-cart-description {
  padding: 10px 0;
  color: var(--dsc-color-font-secondary);

}
.dsc-cart-item-left h3 {
  font-size: 12px;
  color: var(--dsc-color-font-primary);
}

.dsc-cart-item-right {
  font-size: 12px;
  font-weight: 700;
  color: var(--dsc-color-font-secondary);
  padding-bottom: 10px;
}

.dsc-cart-item-quantity-container {
  display: flex;
  font-size: 16px;
  font-weight: 700;
}

.dsc-cart-item-quantity-btn {
  color: var(--dsc-color-btn-primary);
  cursor: pointer;
}

.dsc-cart-item-quantity-container p {
  color: var(--dsc-color-font-primary);
}

@media (min-width: 576px) {
  .dsc-cart-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .dsc-cart-total-container h3 {
    text-align: right;
  }
}