#cart-container {
  padding: 20px 0;
}

.cart-total-container h3 {
  color: #0caf1d;
  font-size: 16px;
  text-align: right;
}

.cart-item-container {
  display: flex;
  justify-content: space-between;
}

.cart-item-container img {
  width: 78px;
}

.cart-item-left {
  display: flex;
}

.cart-description {
  color: #636363;

}
.cart-item-left h3 {
  font-size: 12px;
}

.cart-item-right {
  font-size: 12px;
  font-weight: 700;
  color: #0caf1d;
}

.cart-item-quantity-container {
  display: flex;
  font-size: 16px;
  font-weight: 700;
}

.cart-item-quantity-btn {
  color: #3483fa;
  cursor: pointer;
}