@import url("style.css");

#product-details {
  padding: 20px 0;
}

.product-card-top {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.product-card-top img {
  width: 220px;
}

.product-card-bottom {
  padding-top: 10px;
}

.product-card-bottom h3 {
  color: var(--dsc-color-font-secondary);
  font-size: 20px;
}

.product-card-bottom h4,
.product-card-bottom p {
  color: var(--dsc-color-font-primary);
  font-size: 12px;
  padding-bottom: 10px;
}
