@import url(style.css);

#product-list-section {
  padding: 20px 0;
}

.dsc-product-list-img {
  width: 69px;
  display: block;
}

.dsc-product-list-btn {
  height: 20px;
  width: auto;
  cursor: pointer;
  margin: 5px;
}